.newsWrapper {
  width: 100%;
  max-width: var(--inner-el-max-width);
  overflow: hidden;
  margin: auto;
}

.headline {
  color: red;
  background-color: black;
  position: relative;
}
.headlinesWrapper {
  width: 100%;
  max-width: 700px;
  border-radius: 20px;
  overflow: hidden;
  width: calc(50% - 1rem);
}
.readButton {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  margin: 1rem;
}
.headlineSlide {
  position: relative;
  height: 400px;
  width: 100%;
}
.headlineContent {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  left: 0;
  color: white;
  padding: 10px;
  z-index: 3;
}
.headlineSlide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}

.externalHeadline > img {
  border-radius: 20px;
  overflow: hidden;
}
.externalHeadline {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  padding: 0.5rem;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
  background: white;

  width: calc(50% - 0.25rem);
}
.externalHeadline > h5 {
  width: calc(100% - 2rem - 75px);
  max-height: calc(100% - 1rem);
  line-height: 2.4rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.externalWrapper {
  height: 100%;
  background: var(--color-primary);
  padding: 1rem;
  border-radius: 20px;
  overflow: hidden;
  width: calc(50% - 1rem);
  max-height: 400px;
  height: auto;
}
.externalWrapper > h2 {
  color: white;
}
.externalHeadlinesList {
  max-height: calc(100% - 3rem);
  border-radius: 20px;
}

.externalHeadlinesList::-webkit-scrollbar {
  display: none;
}
.headlineSource {
  color: var(--color-primary);
  font-size: 0.8rem;
  font-weight: 600;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

@media screen and (max-width: 1080px) {
  .externalHeadline {
    flex-wrap: nowrap;
    width: 100%;
  }
}
@media screen and (max-width: 720px) {
  .hero {
    flex-direction: column;
    height: auto;
  }
  .headlinesWrapper {
    width: 100%;
  }
  .externalWrapper {
    width: 100%;
  }
  .externalHeadlinesList {
    height: calc(400px - 2rem - 2rem);
  }
}
.searchWrapper {
  position: relative;
  background: transparent;
  min-width: 100%;
  min-height: 200px;
  padding: 1rem;
  overflow: visible;
}
.searchWave {
  position: absolute;
  top: 0;
  width: 100%;
  right: 0;
  z-index: -1;
  object-fit: cover;
  height: 100%;
}
.searchInput {
  width: 100%;
  max-width: 600px;
}
.newsCard {
  display: inline-block;
  width: calc(100% / 3 - 1rem);
  align-self: stretch;
}

.coverImage {
  width: 80%;
  display: block;
  margin: auto;
  max-height: 400px;
  object-fit: cover;
}
.article {
  width: 100%;
}
.newsPara {
  margin-bottom: 1rem;
}
